:root {
    /* Color constants definition */
    --green-accent: #2ee985;
    --green-accent-dark: #267e4c;
    --green-accent-darker: #228c52;
    --lighter-grey: #979eb7;
    --light-grey: #545660;
    --grey: #242834;
    --dark-grey: #191c21;;
    --darker-grey: #16181c;
}

body {
    color: white;
    font-family: 'LeagueSpartan', Bahnschrift, sans-serif;
    font-weight: normal;
    margin: 0;
    background: var(--darker-grey);
}

.short-text-field {
    font-family: 'LeagueSpartan', Bahnschrift, sans-serif;
    font-size: 20px;
    color: #DDD;
    height: 40px;
    padding-inline: 10px;
    border-radius: 16px;
    border: none;
    outline: var(--lighter-grey) solid 1px;
    background: var(--dark-grey);
    width: calc(100% - 20px);
    margin-top: 10px;
}

.short-text-field:focus {
    outline: solid 2px var(--green-accent);
}

.long-text-field{
    resize: none;
    width: calc(100% - 20px);
    padding: 10px;
    height: 300px;
    background: var(--dark-grey);
    color:  white;
    font-size: 20px;
    font-family: 'LeagueSpartan', Bahnschrift, sans-serif;
    border-radius: 16px;
    border: none;
    outline: var(--lighter-grey) solid 1px;
    margin-top: 10px;
}

.long-text-field:focus {
    outline: solid 2px var(--green-accent);
}


.main-container{
    margin-top: var(--header-height);
    margin-bottom: 30px;
    padding: 10px 0;
    width: min(90%, 800px);
    margin-inline: auto;
}

label {
    display: block;
    font-weight: normal;
    margin-top: 18px;
    font-size: 20px;
}

.wide-button {
    font-family: 'LeagueSpartan', Bahnschrift, sans-serif;
    margin-top: 30px;
    background: var(--green-accent);
    color: white;
    border: none;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    height: 50px;
    cursor: pointer;
}

.wide-button:disabled {
    background-color: grey;
    color: linen;
}


.wide-button:enabled:hover {
    background: var(--green-accent-dark)
}

.wide-button:enabled:active {
    background: var(--green-accent-darker)
}

hr{
    border-color: var(--light-grey);
}

input[type="file"]{
    border-radius: 10px;
    width: calc(100% - 14px - 4px);
    font-size: 18px;
    margin-top: 10px;
    padding: 7px 7px;
    border: 2px solid var(--light-grey);
    background: var(--grey);
}

.errorMessage {
    color: red;
    font-weight: normal;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 0;
}

.successMessage {
    color: var(--green-accent);
    font-weight: normal;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 0;
}

