/*Information popup*/

.popup {
    font-family: 'LeagueSpartan', serif;
    width: 1000px;
    height: 80vh;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    z-index: 1001;
    transition: transform 0.4s, top 0.4s;
}

/*Class that allows to animate the popup*/

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/*Tick image*/

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*Text*/

.popup h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup p {
    height: calc(100% - 200px);
    padding-inline: 20px;
    text-align: justify;
    overflow-y: scroll;
    scrollbar-color: dimgrey whitesmoke;
    scrollbar-width: thin;
}

/*Close button*/

.popup button {
    font-weight: bolder;
    width: calc(100% - 40px);
    margin-top: 10px;
    padding: 10px 0;
    background: #2EE985;
    color: whitesmoke;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}